<div class="card" style="width: 25rem; background-clip:border-box; border: 2px solid rgba(0, 0, 0, 0.125); border-radius: 0.25rem; flex-direction: column;">
    <img class="card-img-top" style="height: 180px; width: 100%; display: block;" src="https://images.idgesg.net/images/article/2017/10/windows-10-logo-100739284-large.jpg">
    <div class="card-body" style="font-family: 微軟正黑體; text-align:center; padding: 1.25rem; flex: 1 1 auto;">
        <p class="card-text">俺的win10虛擬機</p>
        <a href="/launch"input type="submit" value="cool" class="btn btn-primary" style="position:inherit; background-color:whitesmoke; color:black;">Launch</a>
    </div>
</div>