<div class="card" style="width: 25rem; background-clip:border-box; border: 2px solid rgba(0, 0, 0, 0.125); border-radius: 0.25rem; flex-direction: column;">
    <img class="card-img-top" style="height: 180px; width: 100%; display: block;" src="https://i.gadgets360cdn.com/large/apps_main_1558084081800.jpg">
    <div class="card-body" style="font-family: 微軟正黑體; text-align:center; padding: 1.25rem; flex: 1 1 auto;">
        <p class="card-text">{{ name }}</p>
        <a href="javascript:void(0);" onclick="showAtLeft('/launch', '#content')" class="btn btn-primary" style="position:inherit; background-color:whitesmoke; color:black;">Launch</a>
    </div>
</div>
<br>
</br>